################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BSpline2DTest/Debug
/BSpline2DTest/BSTest.vcxproj.user
/Debug
/BSpline/BSplineControl.cpp.bak
